*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color:#F8F8F8;
    position: relative;
    padding-top: 0.1px;
}

#nav{
    width: 100%;
    height: 11vh;
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#nav h2{
    width: 20%;
    height: 100%;
    border-right: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
}


#nav h3{
    display: none;
}

#nav h1{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:monument ;
    letter-spacing: -1px;
    font-size: 36px;
    position: relative;
}

#nav h1::after{
    content:"©";
    position: absolute;
    font-size: 1.2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    top: 19%;
    left: 90%;
}

#nav h1::before{
    content:"model mangement";
    position: absolute;
    font-size: 1vw;
    letter-spacing: 0.1px;
    font-family: gilroy;
    font-weight: 300;
    bottom: 5%;
    right: 16%;
    color: #666;
}

#nav h2:nth-last-child(3){
    width: 29%;
}

#nav h2:nth-last-child(2){
    width: 10%;
    border-right: none;
}

#center{
    width: 100%;
    height: 90%;
    padding: 3.6vw;
}

#content{
    width: 100%;
    height: 100%;
    position: relative;
}

#content video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    padding: 0 4vw 0 4vw;
}

#over1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    padding-bottom: 2vw;
    color: #fff;
    margin-top: 2vw;
}

#over1 h1{
    font-family: monument;
    font-size: 3.6vw; 
    mix-blend-mode:difference;
}

#over1 h2{
    font-size: 1vw;
    padding: 1.5vw 1.8vw;
    border-radius: 50%;
    border: 2px solid #dadada;
}


#over2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1vw o;
}

#over2 h4{
    font-size: 1.3vw;
    font-weight: 500;

}

#over2 img{
    height: 3vw;
}

#scroll{
    width: 100%;
    height: 40vh;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
}

#scroll img{
    height:95% ;
    width: 15%;
    border-radius: 50%;
    object-fit: cover;
    object-position:30% 30%;
    margin: 1vw;
}

#container{
    height: 100%;
    width: 110%;
    display: inline-block;
    padding: 1vw;
    animation-name: moving;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes moving {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}

#alpha{
    display: flex;
    height: 12vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 24px;
}


#alpha h5{
    font-size: 1.6vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-bottom: 1px solid #00000000;
    letter-spacing: 4px;
    cursor: pointer;
    margin-right: 2vw;
}

#alpha h5:hover{
    border-bottom: 1px solid #000;
}


#alpha h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    padding: 0.5vw 0.8vw;
    border-radius: 50%;
    border: 2px solid #00000000;
    cursor: pointer;
}

#alpha h6:hover{
    border: 2px solid #000;
}

#alpha h6:nth-child(even){
    color: rgb(70, 69, 69);
}


#page2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}

#page2 #part1{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHBvdHJhaXQlMjBtb2RlbCUyMGZhc2hpb258ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: center;
    position: relative;
}


#page2 #part2{
    width: 46%;
    height: 100%;
}

#part2 img{
    height: 70%;
    width: 100%;
    object-fit: cover;
}

#page2 #part1 h1{
    font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 6vh;
    font-weight: 900;
    font-style: bold;
    line-height: 1.3;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 2vw;
}

#part2-txt1 {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    
}

#part2-txt1 #txt1{
    width: 45%;
    height: 100%;
    padding: 0 5vw 0 0;
}

#part2-txt1 #txt2{
    width: 55%;
    height: 100%;
}

#part2-txt1 #txt1 h3{
    font-family: ogg;
    font-size: 4vh;
    line-height: 4.2vh;
    margin-top: 10%;
}

#part2-txt1 #txt2 h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5vh;
    font-weight: 500;
    margin-top: 8%;
    line-height: 1.3;
}

#page3{
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 10vh;
}

#page3 #circle-txt{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page3 #circle-txt1{
    height: 75%;
    width: 100%;
    padding: 5vw;
}

#circle-txt1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
}

#page3 #circle-txt2{
    height: 20%;
    width: 100%;
    padding: 0 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3 #circle-txt2 h3{
    font-size: 4vh;
    line-height: 1;
    font-weight: 600;
    font-family: poppins;
}

#circle-img{
    height: 100%;
    width: 60%;
    padding: 2vw 5vw 0 2vw;
}

#circle-img img{
    height: 95%;
    width: 100%;
    object-fit: cover;
    object-position: 15% 20%;
}

#page4{
    height: 100%;
    width: 100%;
    padding: 6vw 5vw 4vw 5vw;
    position: relative;
}

#page4 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#royal{
    position: absolute;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    border: 1px solid #000;
    padding: 1vw;
    top: 18%;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#royal h3{
    font-size: 3vh;
    font-weight: 400;
}

#page5{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 5vw 4vw;
}

#page5>h1{
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    margin-bottom: 7vh;
}

.elem{
    height: 17vh;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
}

.elem img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    left: 17%;
    position: absolute;
    object-fit: cover;
    object-position: 10% 20%;
    opacity: 0;
    transition: all ease 0.7s;
}

.elem:nth-child(even) img{
    left: 50%;
}

.elem:hover img{
    opacity: 1;
    left: 30%;
}

.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}

.elem h4{
    font-size: 1.2vw;
    font-weight: 600;
    text-transform: uppercase;
    width: 6%;
}

.elem .elem-part2{
    width: 45%;
}

.elem-part2 h1{
    font-size: 2.7vw;
    font-weight: 500;
}

.elem-part2 h5{
    font-size: 0.8vw;
    font-weight: 600;
    text-transform: uppercase;
}

#page6{
    width: 100%;
    height: 100%;
    padding: 3vw;
    display: flex;
}

#page6-lft{
    width: 50%;
    height: 100%;
    padding: 0 2vw;
}

#page6-lft img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#page6-ryt{
    width: 50%;
    height: 100%;
}

#page6-ryt-cnt{
    width: 100%;
    height: 50%;
}

#page6-ryt-cnt h1{
    font-family: monument;
    font-size: 3vw;
    height: 5vw;
    font-weight: 900;
    text-transform: uppercase;
}

#page6-ryt-cnt h3{
    width: 55%;
    height: 8vw;
    font-size: 1.6vw;
    font-weight: 600;
    font-family: ogg;
}

#page6-ryt-cnt p{
    font-family: poppins;
    font-size: 0.9vw;
    font-weight: 400;
}

#page6-ryt-img{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

#page6-ryt-img #ryt-img1{
    height: 100%;
    width: 58%;
    background-image: url(https://plus.unsplash.com/premium_photo-1729095332242-1d0d42a5d96e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjF8fHBvdHJhaXQlMjBtb2RlbCUyMGZhc2hpb258ZW58MHx8MHx8fDA%3D);
    background-position:0% 15%;
    background-size: cover;
}

#page6-ryt-img #ryt-img2{
    height: 100%;
    width: 40%;
    background-image: url(https://plus.unsplash.com/premium_photo-1697183202112-19523c5e7250?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODF8fHBvdHJhaXQlMjBtb2RlbCUyMGZhc2hpb258ZW58MHx8MHx8fDA%3D);
    background-position:center;
    background-size: cover;
}

#marque{
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0.8vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#marque h1{
    display: inline-block;
    font-size: 3vw;
    -webkit-text-stroke: 2px black;
    color: transparent;
    letter-spacing: 3px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: monument;
    margin-right: 16px;
    animation: marque 5s linear infinite;
}

@keyframes marque {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
    
}


#footer{
    width: 100%;
    height: 40%;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    position: relative !important;
}

#footer h1{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family:monument ;
    letter-spacing: -1px;
    font-size: 37px;
    position: absolute;
    top: 10%;
    position: relative;
}

#footer h1::after{
    content:"©";
    position: absolute;
    font-size: 1.2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    top:0;
    left: 88%;
}

#footer h1::before{
    content:"model mangement";
    position: absolute;
    font-size: 1vw;
    letter-spacing: 0.1px;
    font-family: gilroy;
    font-weight: 300;
    top: 15%;
    right: 16%;
    color: #666;
}

#footer h2{
    padding-top: 2%;
    width: 20%;
    height: 100%;
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
}

#footer h2:nth-last-child(2){
    width: 40%;
    height: 40%;
    align-self: normal;
    justify-self: center;
    border-bottom: 2px solid black;
}

#foot-down{
    position: absolute;
    height: 60%;
    width: 40%;
    bottom: 0;
    right: 0;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
}

#foot-icons{
    width: 40%;
    display: flex;
    position: absolute;
    top: 20%;
    left: 5%;
    justify-content: space-evenly;
}

#foot-icons{
    font-size: 1.8vw;
}


#foot-down h4{
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 1.5vw;
    margin-top: 1vw;
}



@media(max-width:600px){
    body{
        overflow-x: hidden;
    }

#nav{
    height: 6vh;
    margin-top: 2vw;
}

#nav h2{
    display: none;
}

#nav h1{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    margin: 0 5vw;
    font-size: 24px;
}

#nav h3{
    display: block;
    margin-right: 5vw;
}

#nav h1::after{
    display: none;
}

#nav h1::before{
    display: none;
}

#center{
    height: 36%;
    width: 100%;
}

#content{
    width: 100%;
    height: 100%;
    position: relative;
}

#content video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    padding: 0 4vw 0 4vw;
}

#over1{
    padding-bottom: 1vw;
    mix-blend-mode:difference;
}

#over1 h1{
    font-family: monument;
    font-size: 3.2vw; 
}

#over1 h2{
    font-size: 1.6vw;
}

#over2{
    mix-blend-mode:difference;
    padding: 1vw o;
}

#over2 h4{
    font-size: 1.6vw;
    font-weight: 600;
}

#over2 img{
    height: 3.5vw;
}

#scroll{
    height: 18vh;
}

#scroll img{
    height:95% ;
    width: 15.7%;
}

#container{
    height: 100%;
    width: 230%;
    animation-duration: 13s;
}

#alpha{
    height: 5vh;
    gap: 0.2vw;
}

#alpha h5{
    font-size: 1.7vw;
    margin-right: 1.1vw;
}

#alpha h6{
    font-size: 1.2vw;
}

}